.carousel-2 {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-2 {
  width: 100%;
  height: 100%;
}

.swiper-slide-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide-2 img {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.swiper-button-next-2,
.swiper-button-prev-2 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.swiper-button-next-2::after,
.swiper-button-prev-2::after {
  font-size: 20px !important;
  color: white !important;
  font-weight: bold;
}

.swiper-button-next-2:hover::after,
.swiper-button-prev-2:hover::after {
  color: #F5A842 !important;
}

.swiper-slide-2-active {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .swiper-button-next-2,
  .swiper-button-prev-2 {
    display: none !important;
  }
}
.main_slide_title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: rgba(28, 67, 133, 0.8470588235);
  transform: translateX(-50%);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  min-height: 40px;
  word-break: break-word;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 500;
  z-index: 10;
}

@media (max-width: 905px) {
  .main_slide_title {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .main_slide_title {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .main_slide_title {
    font-size: 8px;
  }
}
