@use "./map";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin text-turnicate($line-clamp) {
    -webkit-line-clamp: $line-clamp;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin box-shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin flex-center($display: flex, $justify-content: null, $align-items: null, $gap:null) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin makeColorFix($color: null, $size: null, $weight: null) {
    color: map-get(map.$colors, $color);
    font-size: map-get(map.$fonts, sizes) [$size];
    font-weight: map-get(map.$fonts, weights) [$weight];
}

@mixin makeFlexForColum($gap: null) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}
@mixin makeFlexForRow($gap: null) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}
@mixin makeFlexForWrap($gap: null) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin dropdown_position($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;

    @if $top != null {
        top: $top;
    }
    @if $left != null {
        left: $left;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    z-index: 1000;
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin makeFlexForColum($gap:null) {
    display: flex;
    flex-direction: column;
    gap: $gap;
} 
@mixin makeFlexForRow ($gap:null) {
    display: flex;
    flex-direction: row;
    gap: $gap;
} 
@mixin makeFlexForWrap ($gap:null) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}


// COLOR 
$dark-blue:rgb(12,67,132);
$deactive: rgb(93, 110, 130);
$deactive-gray: rgb(98,98,97);
$gray:rgb(68,68,68);
$hover-color:rgb(245,168,66);
$background-color:rgb(246,246,246);

// FONT-FAMILY
$base-font: sans-serif;

// PADDING-MARGIN
$padding:60px 0;
$mobile-padding:60px 20px;

// FONT-SIZE
$font-size-xsmall:10px;
$font-size-small:12px;
$font-size-medium: 15px;
$font-size-large: 25px;
$font-size-xlarge: 35px;
$font-size-custom:20px;

// MEDIA QUERY
$breakpoint-xsmall:460px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// FONT-WEIGHTS
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;