
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}


.active-blue {
    background-color: #154384 !important;
    color: white !important;
  }

