@use '../SCSS/variables' as *;
@use '../SCSS/map' as *;
@use '../SCSS/mixin' as *;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: $background-color;
}

.active-blue {
    background-color: #154384 !important;
    color: white !important;
}