.navbar__mobile {
  overflow: auto;
  height: 50px;
  &-container {
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
    align-items: center;

    padding: 8px 20px;
    position: relative;
  }
  &-logo-img {
    width: 33px;
    height: 30px;
  }
  &-burger {
    display: flex;
    align-items: center;
  }
  &-burger-btn {
    border: none;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 21px;
    width: auto;
    overflow: visible;
    background: transparent;
    color: white;
  }

  &-burger-btn-icon {
    &::before {
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
  .navbar__mobile-burger-btn-icon:hover::before {
    color: rgb(245, 168, 66);
  }
  &-dropdown {
    width: 300px;
    min-height: 100vh;
    background-color: #0c4384;
    transition: all 1s ease;
    transform: translateX(-600px);
    opacity: 0;
    z-index: -1;
    left: 0;
  }
  &-dropdown-active {
    transform: translateX(0);
    opacity: 1;
    right: 0;
  }

  &-close-btn {
    display: none;
    padding: 8px 20px;
    transition: all 1s ease;
    font-size: 35px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    &:hover {
      color: rgb(245, 168, 66);
    }
  }
  &-close-btn-active {
    display: block;
  }
}
@media (max-width: 1050px) {
  .navbar__mobile {
    width: 100%;
    display: block;
    background-color: #0c4384;
  }
}
@media (min-width: 1050px) {
  .navbar__mobile-dropdown-active {
    display: none;
  }
}

.navbar__burger {
  display: grid;
  list-style: none;
  padding: 8px 20px;
  font-family: sans-serif;
  gap: 50px;
  &-wrap-container {
    display: flex;
    justify-content: space-between;
    background-color: #0c4384;
    padding: 0 20px;
    width: 100%;
  }
  #navbar__burger-wrapper {
    display: flex;
    list-style: none;
  }
  &-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    display: none;
    height: 0;
  }
  &-submenu-item_head {
    line-height: 3;
    font-size: 16px;
    width: 250px;
    color: rgb(245, 168, 66);
    font-weight: bold;
    padding-bottom: 3px;
  }
  &-dropdown-active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 25px;
    font-family: sans-serif;
    // position: absolute;
    z-index: 1;
    padding-left: 25px;

    left: 0;
    background-color: #0c4384;
  }

  &-submenu-item_down {
    &:hover,
    :active {
      transition: 0.4s;
      transform: translateX(10px);
    }
    line-height: 1.5;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    padding-left: 5px;
    &-white {
      color: white;
      &:hover,
      :active {
        color: rgb(165, 166, 178);
      }
    }
  }
  &-submenu-item_down_container {
    display: grid;
    gap: 16px;
  }
  &-arrow-icon {
    transition: transform 0.3s ease;
    &::before {
      margin: 0 10px;
    }
  }

  &-line {
    display: inline-block;
    height: 50px;
    width: 2px;
    background-color: rgb(30, 81, 141);
  }
  &-menu-item_header_item {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    &-color {
      color: white;
    }
  }
  &-search-icon-wrapper {
    display: flex;
    align-items: center;
  }
  &-search_icon {
    margin-left: 20px;
    font-size: 1.1rem;
  }
}

.fa-solid::before {
  color: white;
}
@keyframes open {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.navbar__burger-dropdown {
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s ease, transform 1s ease;
}

.navbar__burger-dropdown-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  max-height: 100%;
  animation: open 1s forwards;
}

.navbar__burger-dropdown-closing {
  animation: close 1s forwards;
  visibility: hidden;
  opacity: 0;
}
.navbar__burger-mobile {
  display: none;
}
@media (max-width: 1050px) {
  .navbar__burger-menu-item_header_item-color {
    font-size: 18px;
  }

  .navbar__burger-submenu-item_down {
    word-break: break-word;
  }

  .navbar__burger-dropdown-item-container {
    max-width: 150px;
  }
  .navbar__burger-wrap-container {
    display: none;
  }
}

.group_mobile {
  display: flex;  
  visibility: visible; 
  opacity: 0; 
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease, opacity 0.5s ease, visibility 0.5s ease 0.5s;
}

.group_mobile.open {
  visibility: visible;
  opacity: 1;
  width: 100%; 
  transition: width 0.5s ease, opacity 0.5s ease, visibility 0.5s ease; 
}

.navbar__mobile__search-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__mobile__search-close-icon-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 10px;

  cursor: pointer;
}

.navbar__mobile__search-close-icon-wrapper.active {
  display: flex;
}
.group_mobile_container{
  display: flex;
}