.section-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-pagination .pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ddd;
  padding: 2px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
}
.section-pagination .pagination button {
  background: none;
  border: none;
  color: #154384;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}
.section-pagination .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.section-pagination .pagination button:not(:disabled):hover {
  background: rgb(55, 84, 110);
  color: white;
}
.section-pagination .pagination .page-numbers {
  display: flex;
  gap: 3.2px;
  align-items: center;
}
.section-pagination .pagination .page-numbers i {
  color: #154384;
}
.section-pagination .pagination .page-number {
  width: 35.2px;
  height: 35.2px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-pagination .pagination .active {
  background: #154384;
  color: white;
  box-shadow: 0 0 12px rgba(38, 76, 106, 0.3);
}
.section-pagination .pagination .dots {
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}
