@use "../variables" as *;
@use "../map" as *;
@use "../mixin" as *;


.footer {
    background-color: #232E3C;
    height: 100%;

    &_container {
        padding-bottom: 2rem;
        margin: 0 auto;
        padding: 34px 70px 24px 70px;
        ;

        &_logo-container {
            padding-top: 1rem;
            &-logo {
                width: 300px;
            }
        }


        @media (max-width:480px){
            &_logo-container {
                display: flex;
                justify-content: center;
                &-logo {
                    width: 300px;
                }
            }
        }
        &_item_container {
            display: flex;
            justify-content: space-around;
            padding-top: 2rem;
            padding-left: 20px;

            &__link_item {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;

                &_items {
                    display: grid;
                    width: 250px;
                    gap: 1rem;


                    &_header {
                        font-size: 14px;
                        color: #F5A842;
                    }

                    &_url {
                        font-size: 14px;
                        color: white;
                        transition: padding-left 0.3s ease-in-out;
                        text-decoration: none;
                        padding-left: 10px;
                    }

                    &_url:hover {
                        padding-left: 20px;
                    }

                    @media (max-width: 480px) {
                        &_url {
                            width: 150px;
                            word-break: break-word;
                        }
                    }
                }

                @media (max-width: 480px) {
                    &_items {
                        width: 140px;
                        word-break: break-word;
                    }
                }

                @media (max-width: 790px) {
                    &_items {
                        gap: 1rem;
                    }
                }

            }

            @media (max-width: 650px) {
                &__link_item {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    gap: 1rem;
                }
            }
            @media (max-width: 1400px) {
                &__link_item {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    width: 100%;
                    gap: 1rem;
                }
            }

            @media (max-width: 1150px) {
                &__link_item {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    gap: 1rem;
                }
            }
            @media (max-width: 480px) {
                &__link_item {
                    width: 330px;
                    word-break: break-word;
                    gap: 2rem;
                }
            }

            &_about {
                display: grid;
                gap: 16px;
                padding-right: 1rem;

                &_location {
                    color: white;
                    background-color: #2E3B4C;
                    display: grid;
                    border: none;
                    border-top-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                    height: 200px;
                    width: 240px;
                    text-align: right;
                    padding: 30px;
                    gap: 20px;
                }

                &_sosial {
                    display: flex;
                    justify-content: space-around;

                    &-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid white;
                        padding: 10px;
                        height: 40px;
                        width: 40px;
                        transition: background-color 0.3s ease-in-out;
                    }

                    &-item:hover {
                        background-color: #F5A842;
                    }
                }
            }

        }

        @media (max-width: 785px) {
            &_item_container {
                display: grid;
                gap: 2rem;
                place-items: center;
                padding-left: 0;

            }
        }
    }
    @media (max-width: 700px) {
        &_container {
            padding: 0;
        }
    }



    &_copyright_container {
        display: flex;
        background-color: #273241;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 40px;
        color: white;
        font-size: 13px;
        &_img {
            width: 25px;
            margin-bottom: 6px;
        }
    }

    @media (max-width: 400px) {
        &_copyright_container {
            gap: 9px;
            font-size: 13px;
        }
    }
    @media (max-width: 705px) {
        &_copyright_container {
            margin-top: 1rem;
        }
    }

}