@use "../variables" as *;
@use "../map" as *;
@use "../mixin" as *;

.carousel-logo {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 110px;
    padding-bottom: 120px;
    width: 100%;
    height: auto;
    position: relative;
}

.swiper-logo {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide-logo {
    display: grid !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide-logo img {
    display: block;
    width: 200px;
    height: auto;
    object-fit: contain;
}