.carousel_bottom_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 20px 70px;
  text-align: center;
}
.carousel_bottom_container_item {
  display: grid;
  place-items: center;
  width: 170px;
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(228, 228, 228, 0.6588235294);
}
.carousel_bottom_container_item_img {
  width: 40px;
}
.carousel_bottom_container_item_description {
  font-size: 8px;
  text-transform: uppercase;
  word-break: word-break;
}
