.carousel_bottom_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 20px 70px;
  text-align: center;
}
.carousel_bottom_container_item {
  display: grid;
  place-items: center;
  width: 170px;
}
.carousel_bottom_container_item_img {
  width: 40px;
}
.carousel_bottom_container_item_description {
  font-size: 12px;
  text-transform: uppercase;
  word-break: word-break;
}

@media (max-width: 1080px) {
  .carousel_bottom_container {
    padding: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 590px) {
  .carousel_bottom_container {
    padding: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 400px) {
  .carousel_bottom_container {
    padding: 20px 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
