/* Error: This variable is available from multiple global modules.
 *     ,
 * 1   | @use "../variables" as *;
 *     | ======================== includes variable
 * ... |
 * 3   | @use "../mixin" as *;
 *     | ==================== includes variable
 * ... |
 * 10  |     @media (max-width: $breakpoint-xlarge) {
 *     |                        ^^^^^^^^^^^^^^^^^^ variable use
 *     '
 *   scss\About\About.scss 10:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This variable is available from multiple global modules.\a     \2577 \a 1   \2502  @use "../variables" as *;\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a... \2502 \a 3   \2502  @use "../mixin" as *;\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a... \2502 \a 10  \2502      @media (max-width: $breakpoint-xlarge) {\d\a     \2502                         ^^^^^^^^^^^^^^^^^^ variable use\a     \2575 \a   scss\\About\\About.scss 10:24  root stylesheet';
}
