.common-news-section {
  width: 100%;
  padding: 60px 0;
  background-color: #eeeeee;
}
@media (max-width: 1200px) {
  .common-news-section {
    padding: 60px 20px;
  }
}
.common-news-section .container .block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}
.common-news-section .container .block .common-news-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}
@media (max-width: 992px) {
  .common-news-section .container .block .common-news-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .common-news-section .container .block .common-news-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  .common-news-section .container .block .common-news-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
.common-news-section .container .block .common-news-block .square {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  width: 230px;
  height: 350px;
  background: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.common-news-section .container .block .common-news-block .square:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media (max-width: 768px) {
  .common-news-section .container .block .common-news-block .square {
    width: auto;
    height: auto;
  }
}
.common-news-section .container .block .common-news-block .square img {
  background-position: center;
  object-fit: contain;
  height: 200px;
}
@media (max-width: 768px) {
  .common-news-section .container .block .common-news-block .square img {
    height: 180px;
  }
}
@media (max-width: 460px) {
  .common-news-section .container .block .common-news-block .square img {
    height: 180px;
  }
}
.common-news-section .container .block .common-news-block .square p {
  font-size: 12px;
  color: #154384;
  line-height: 18px;
}
.common-news-section .container .block .common-news-block .square .date {
  text-align: right;
  font-size: 10px;
  color: rgb(145, 135, 135);
}
.common-news-section .container .block .common-news-block .square .button {
  transition: 0.3s;
  margin-top: 15px;
  background-color: #154384;
  color: white;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  cursor: pointer;
}
.common-news-section .container .block .common-news-block .square .button:hover {
  transform: scale(1.05);
}
